/* Reset básico */
* {
    margin: 5px;
    box-sizing: border-box;
}

body {
    font-family: 'Gabarito', cursive;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    background-color: #FAFAFA;
}

/*HEADER*/
header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #5dce0059;
    color: #FFFFFF;
    border-radius: 10px;
}

header > div,
header > div > nav {
    margin: 0 10px;
    top: 0;
}

header > div > nav > ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0;
}

header > div > nav > ul > li > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enlaces{
    display: flex;
    justify-content: center;
    width: 55%;
}

.enlaces_menu{
    background-image: linear-gradient(
      to right,
      #000000,
      #000000 50%, /* Cambio el color del medio para que sea el color principal */
      #6B7D5C 0%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.1s ease-in-out;

    font-size: 25px;
    font-variant: small-caps;
    text-decoration: none;
}

.enlaces_menu:before {
    content: '';
    background: #000000;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.1s ease-in-out;
}

.enlaces_menu:hover {
    background-position: 0;
}

.enlaces_menu:hover::before {
    width: 100%;
}

.formulario_entrar{
    border: 2px solid #6B7D5C;
    border-radius: 10px;
    padding: 5px;
    color: #6B7D5C;
}

.icono_menu{
    display: none;
}

@media (max-width:1008px){
    .icono_menu{
        display: block;
        font-size: 40px;
        color: #6B7D5C;
    }

    .menu{
        display: none;
    }
}
/*HEADER*/

/*LOGO*/
.logo{
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 45%;
}

.logo > p {
    margin-left: 15px;
}
/*LOGO*/

/*MAIN*/
main{
    margin-top: 15px;
    margin-bottom: 15px;
}

.no_registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*MAIN*/

/*PUBLICACIONES*/
.publicaciones{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.lista_publicacion_img{
    border: 1px solid black;
    width: 300px;
    height: 180px;
}

.fecha_ubicacion > p{
    font-style: italic;
    color: #323232;
}
/*PUBLICACIONES*/

/*SECTION*/
.publicacion_indv{
    padding: 7px;
    border: 2px solid #6B7D5C;
    border-radius: 5px;
}
/*SECTION*/

/*A*/
a{
    text-decoration: none;
}

.publicaciones > a{
    color: #000000;
}
/*A*/

/*BUTTON*/
button {
    background: linear-gradient(to bottom, #000000 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: left bottom;
    background-color: #6B7D5C;
    border: 3px solid #333;
    color: #FFFFFF;
    padding: 10px 18px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    cursor:pointer;
}

button:hover {
    background-position: right top;
    box-shadow: 3px 3px 7px rgb(255, 255, 255);
}
/*BUTTON*/

/*TÍTULOS*/
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    font-weight: bold;
}

.titulo{
    font-weight: 400;
    font-size: 50px;
    color: #6B7D5C;
}

.titulo_publicacion{
    text-align: center;
}
/*TÍTULOS*/

footer {
    background-color: #5dce0059;
    color: #6B7D5C;
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;
}

@media (max-width: 1628px) {
    .publicaciones {
        flex-wrap: wrap;
    }
}
/* Estilo para el contenedor del formulario de búsqueda */
.cuadrado_busqueda {
    border: 2px solid #333;
    border-radius: 0px;
    padding: 0xp;
    background-color: #fff;
    height: 500px;
    width: 700px;
}

main legend {
    font-weight: bold;
    font-size: 20px;
}

/* Estilo para etiquetas y campos de entrada dentro del formulario */
main label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Estilo para el icono de país y fecha dentro del formulario */
main #pais::before,
main #fechaInicio::before {
    margin-right: 5px;
    font-size: 20px;
}

/* Estilo para el campo de fecha "hasta" dentro del formulario */
main #fechaFin {
    margin-left: 10px;
}
/* Estilo para los campos de búsqueda cuando se pasa el ratón sobre ellos */
main input[type="text"]:hover,
main input[type="date"]:hover {
    background-color: #f2f2f2; /* Cambia el color al pasar el ratón */
}

/* Estilo para los campos de búsqueda */
main input[type="text"],
main input[type="date"] {
    width: 40%; /* Reducir el ancho al 40% del contenedor */
    padding: 8px; /* Reducir el relleno */
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}
/* Estilo para el botón de búsqueda */

.buscador_avanzado{
justify-content:center;
align-items: center;
display: flex;
flex-direction: column;
}

/* Estilo para el contenedor del formulario de solicitud */
.solicitud {
    background-color: #f5f5f5; /* Fondo gris claro */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para el encabezado del formulario */
.solicitud h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilo para el párrafo de descripción */
.solicitud p {
    font-size: 16px;
    margin-bottom: 20px;
}

/* Estilo para la lista del formulario */
.solicitud ul {
    list-style: none;
    padding: 0;
}

/* Estilo para los elementos de la lista */
.solicitud li {
    margin-bottom: 15px;
}

/* Estilo para etiquetas en el formulario */
.solicitud label {
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

/* Estilo para campos de entrada y elementos de formulario */
.solicitud input[type="text"],
.solicitud input[type="email"],
.solicitud input[type="tel"],
.solicitud input[type="color"],
.solicitud input[type="number"],
.solicitud input[type="date"],
.solicitud textarea,
.solicitud select,
.solicitud input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

/* Estilo para el botón de envío del formulario */
.solicitud input[type="submit"] {
    background-color: #007bff; /* Fondo azul */
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
}

.solicitud input[type="submit"]:hover {
    background-color: #0056b3; /* Cambio de color al pasar el ratón */
}

/* Estilo para el rango de resolución y su valor */
.solicitud input[type="range"] {
    width: 80%;
}

.solicitud #value {
    font-size: 18px;
    font-weight: bold;
}

/* Estilo para el campo de dirección (fieldset) */
.solicitud fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
}

.solicitud fieldset legend {
    font-weight: bold;
}

/* Estilo para las tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

/* Estilo para las celdas de encabezado */
th {
    background-color: #99a0a8; /* Fondo gris */
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ccc;
}

/* Estilo para las celdas de datos */
td {
    padding: 10px;
    border: 1px solid #ccc;
}

/* Estilo para alternar colores de fila (opcional) */
tr:nth-child(even) {
    background-color: #d5d5d5; /* Fondo gris claro */
}

/* Estilo para las celdas de datos en la primera columna */
td:first-child {
    font-weight: bold;
}

/* Estilo para las celdas de datos en la última columna */
td:last-child {
    font-weight: bold;
    color: #000000; /* Texto azul */
}
